@import "tailwindcss";

:root {
  --color-midnight: #0B0F19;
  --color-lavenderGlow: #E0C3FC;
  --color-roseGlow: #FBCFE8;
}

/* Force the entire web view to be dark by default */
html, body {
  background-color: #0B0F19 !important;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@theme {
  --color-midnight: #0B0F19;
  --color-lavenderGlow: #E0C3FC;
  --color-roseGlow: #FBCFE8;
  --ease-fluid-ease: cubic-bezier(0.16, 1, 0.3, 1);
}